*{

      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
}
body{
      height: 100vh;
      display: flex;
      flex-direction: column;

      width: 100%;
}
header{
      width: 100%;
      background: #063F3A;
}
footer{
      height: vh;
      margin-bottom: 0;
      width: 100%;
      color: rgb(255, 255, 255);
      background: black;
      margin-bottom: auto;
}

/**/

.contenedor{
       /* Esto hace que el contenido crezca y empuje el footer hacia abajo */
      height: 70vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      background: #E4E3E3;
      padding: 6em 0em 1em 0em;
}
.contenedor>div{
      display: flex;
      flex-direction: column;
      margin: 0px 20px;
      border-radius: 15px;
      color: #032b27;
      border:#3B9A33 solid 4px;
      background: white;
}
/*Boton de agregar Tareas*/
#botonAgregarTarjeta{
      width: 19%;
      margin: 20px 20px;
      padding: 13px 26px;
      background: #34942bd3;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-size: 1em;
}
#botonAgregarTarjeta:hover{
      cursor: pointer;
      background: #215e1bd3;
}
#botonAgregarTarjeta:active{
      background: #48ca3cd3;
}
#botonAgregarTarjeta img{
      height: 32px;
}
/**/
.contenedor>div>h2{
      text-align: center;
      padding: 20px 0px;
}
.contenedor>div>div{
      background: white;
      border: solid 1px ;
      border-radius: 14px;
      padding: 20px 0px;
      margin: 5px 20px;
}

header div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
}

.guardar{
      width: 19%;
      margin: 20px 20px;
      padding: 13px 26px;
      border-radius: 5px;
      border: none;
      color: #063F3A;
      font-weight: 700;
      font-size: 1em;
}
.iconEmpresa{
       justify-content:start
}
.iconEmpresa img{
      width: 120px;
      margin-left: 2em;
}
/*FORMULARIO DESPLEGABLE CREAR TAREA*/
.contenedorFormulario{
      height: 100vh;
      width: 100%;
      background: rgba(17, 16, 16, 0.822);
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}
.contenedorFormulario form{
      background: #D1D1D1;
      border: solid white 1px ;
      height: 70%;
      width: 25%;
      padding: 20px 30px;
}
@media (min-width: 1025px) { 
      /* Estilos para escritorio */ 
      
    }
@media (min-width: 481px) and (max-width: 1024px) { 
      /* Estilos para tablets */ 
    }

@media (max-width: 480px) { 
      /* Estilos para móviles */ 
      body{
            width: 100%;
      }
      .contenedor{
            grid-template-columns: repeat(4,260px);
            padding: 1em 0em 1em 0em;


            overflow-x: scroll;


      }
      .contenedor>div{
            margin: 20px 10px;
            border-radius: 15px;
            color: #032b27;
            border:#3B9A33 solid 4px;
            background: white;
      }
      .contenedorFormulario form{
            border: 3px solid #0a312d;
            border-radius: 5px;
            width: 100%;
            margin: 0px 15px;
      }
      .contenedorFormulario form h1{
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
      }
      .contenedorFormulario h3{
            margin-top: 15px;
            font-size: 20px;
      }
      .contenedorFormulario textarea,.contenedorFormulario form input{
            width: 100%;
            padding: 8px 0px;
            border-radius: 5px;
            border: none;
      }
      #enviarFormulario ,#cancelarFormulario{
            width: 45%;
            font-size: 16px;
            padding: 7px 15px;
            border-radius: 5px;
            border: none;
      }
      #enviarFormulario{
            background: #043530;
            color: white;
      }
      #cancelarFormulario{
            background: white;
            color: #032b27;
      }
      
      .botones{
            justify-content: space-around;
            display: flex;
      }
      /*EFECTOS DE BOTONES FORMULARIO*/
      .enviarFormulario:active{
            background: #0da091;
      }
      }

    
