*{

      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
}
body{
            min-height: 100vh;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;
}
header{
      width: 100%;
      background: #063F3A;
}
footer{
      height: 2vh;
      width: 100%;
      color: rgb(255, 255, 255);
      background: black;
      margin-bottom: auto;
}

/**/

.contenedor{
      flex: 1; /* Esto hace que el contenido crezca y empuje el footer hacia abajo */
      height: 77vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      background: #E4E3E3;
      padding: 6em 0em 1em 0em;
}
.contenedor>div{
      display: flex;
      flex-direction: column;
      margin: 0px 20px;
      border-radius: 15px;
      color: #032b27;
      border:#3B9A33 solid 4px;
      background: white;
}
/*Boton de agregar Tareas*/
#contenedorBoton{

      margin-top: 1em;
      display: flex;
      justify-content: center;
      background: fixed;
      border: none;
}
#botonAgregarTarjeta{
      width: 100%;
      max-height: 90px;
      background: #34942bd3;
      border: none;
      border-radius: 10em;
      padding: 10px;
}
#botonAgregarTarjeta:hover{
      cursor: pointer;
      background: #215e1bd3;
}
#botonAgregarTarjeta:active{
      background: #48ca3cd3;
}
#botonAgregarTarjeta img{
      height: 64px;
}
/**/
.contenedor>div>h2{
      text-align: center;
      padding: 20px 0px;
}
.contenedor>div>div{
      background: white;
      border: solid 1px ;
      border-radius: 14px;
      padding: 20px 0px;
      margin: 5px 20px;
}

header div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
}

.guardar{
      margin: 20px 20px;
      padding: 6px 20px;
      border-radius: 5px;
      border: none;
      color: #063F3A;
      font-weight: 700;
      font-size: 1em;
}
.iconEmpresa{

       justify-content:start
}
.iconEmpresa img{
      width: 100px;
      margin-left: 2em;
}
/*FORMULARIO DESPLEGABLE CREAR TAREA*/
.contenedorFormulario{
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.671);
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}
.contenedorFormulario form{
      background: #D1D1D1;
      border: solid white 1px ;
      height: 70%;
      width: 25%;
      padding: 20px 30px;
}
@media (min-width: 1025px) { 
      /* Estilos para escritorio */ 
      
    }
@media (min-width: 481px) and (max-width: 1024px) { 
      /* Estilos para tablets */ 
    }

@media (max-width: 480px) { 
      /* Estilos para móviles */ 
      body{
            width: 100%;
      }
      .contenedor{
            grid-template-columns: repeat(2,1fr);
            padding: 1em 0em 1em 0em;
      }
      .contenedor>div{
            margin: 20px 10px;
            border-radius: 15px;
            color: #032b27;
            border:#3B9A33 solid 4px;
            background: white;
      }
      }

    
